body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

img {
    display: block;
    width: 100%;
}

.section {
    @include mq(not-desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
    }
   
    
    @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
    }

}


