.container {
    
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include mq(mobile) {
        width: 480px;
        
    }

    @include mq(tablet) {
        width: 768px;
   
    }

    @include mq(desktop) {
        width: 1200px;
   
    }

    // @media screen and (min-width: 1200px) {
    //     width: 1170px;

    // }
    

}