/* header__container */
.header__container {
    @include mq(tablet-only) {
        justify-content: space-between;
    }

    display: flex;
    align-items: center;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ececec;
}