/* Hero */
.hero {
    max-height: 600px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;

    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/icons/Img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;

    color: #ffffff;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-transform: uppercase;
}

.hero__button {
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;

    color: #ffffff;
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;

    transition: background-color var(--anim);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}